n8n/workflows/lab007_vetatiende_agenda_operativa_google_calendar.json
{
  "name": "LAB-007 - Agenda operativa Google Calendar",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "47c89829-f22a-4955-80d2-451ecf92bea6",
              "leftValue": "={{ $json.available }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "c29d8120-0c7a-457e-a133-9c8a53d76b9a",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2000,
        208
      ],
      "id": "e082190b-01d0-4ad7-9df7-69d990134a33",
      "name": "Evaluar Disponibilidad Agenda"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "ef20add3972d4c19b68126a4b4481b22944b11c07aae020e52511cf2ccc286e2@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "VetAtiende AI - Agenda Clínica"
        },
        "start": "={{ $('Preparar Datos Agenda').item.json.startTime }}",
        "end": "={{ $('Preparar Datos Agenda').item.json.endTime }}",
        "additionalFields": {
          "description": "={{ $('Preparar Datos Agenda').item.json.descripcionEvento }}",
          "summary": "={{ $('Preparar Datos Agenda').item.json.tituloEvento }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -1776,
        112
      ],
      "id": "dc9e59d5-414d-44a3-93ff-9d6bc4e12623",
      "name": "Crear Cita en Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3YAq8eyNjtc22Gcr",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ba58102c-195b-40b2-bf3d-262a72ff97d8",
              "name": "respuesta",
              "value": "Ese horario no está disponible en la agenda de la clínica. Por favor indica otro horario o contacta a recepción para revisar alternativas.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1552,
        304
      ],
      "id": "5aa2de0d-fcf3-49ca-bb36-60821d404760",
      "name": "Respuesta Horario No Disponible"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3a31fd31-f771-4f7d-b865-48f24a3a1624",
              "name": "respuesta",
              "value": "=Tu hora para {{ $('Preparar Datos Agenda').item.json.tipoAtencion }} de {{ $('Preparar Datos Agenda').item.json.nombreMascota }} fue confirmada correctamente en la agenda de la clínica. Te esperamos en Clínica Veterinaria Patitas del Sur.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1552,
        112
      ],
      "id": "362f5be0-d42a-487a-915c-fe649ee2a502",
      "name": "Respuesta Cita Confirmada"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vetatiende-agenda",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2672,
        208
      ],
      "id": "be4cf90c-12cf-48f6-8d8b-02cc1c20743c",
      "name": "Webhook Solicitud Agenda",
      "webhookId": "41e5292c-1dc1-4c33-94c1-2ad3e8209356"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "ef20add3972d4c19b68126a4b4481b22944b11c07aae020e52511cf2ccc286e2@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "VetAtiende AI - Agenda Clínica"
        },
        "timeMin": "={{ $json.startTime }}",
        "timeMax": "={{ $json.endTime }}",
        "options": {
          "timezone": {
            "__rl": true,
            "value": "America/Santiago",
            "mode": "list",
            "cachedResultName": "America/Santiago"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -2224,
        208
      ],
      "id": "a2ae4e3e-9589-4db8-b26d-038c5030c4bd",
      "name": "Consultar Disponibilidad Agenda",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3YAq8eyNjtc22Gcr",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"respuesta\": {{ JSON.stringify($json.respuesta) }}\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1328,
        208
      ],
      "id": "b9f32e1c-ba52-4b10-b03d-332b5b38bfc5",
      "name": "Responder Solicitud Agenda"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c7bd702-a779-44e8-bc0d-5da9b22d2bd5",
              "name": "nombreTutor",
              "value": "={{ $json.body.nombreTutor }}",
              "type": "string"
            },
            {
              "id": "3dd1c85f-8c01-4e31-a282-98b082001358",
              "name": "nombreMascota",
              "value": "={{ $json.body.nombreMascota }}",
              "type": "string"
            },
            {
              "id": "a31e9b36-e257-43e9-b38b-d1189d0df65f",
              "name": "tipoAtencion",
              "value": "={{ $json.body.tipoAtencion }}",
              "type": "string"
            },
            {
              "id": "2ca44bb6-fcf3-4ab0-a325-68e3e5784702",
              "name": "telefono",
              "value": "={{ $json.body.telefono }}",
              "type": "string"
            },
            {
              "id": "6190ca4b-7151-42cd-bffa-12899d2a07e6",
              "name": "startTime",
              "value": "={{ $json.body.startTime }}",
              "type": "string"
            },
            {
              "id": "a7a058ab-fc60-4fa5-928c-ac90316c98df",
              "name": "endTime",
              "value": "={{ $json.body.endTime }}",
              "type": "string"
            },
            {
              "id": "891f37ad-dc1a-4ddd-8c9b-37854f2c9979",
              "name": "tituloEvento",
              "value": "={{ $json.body.tipoAtencion + ' - ' + $json.body.nombreMascota }}",
              "type": "string"
            },
            {
              "id": "15f3e479-5a88-47c7-94cd-49ed4afb073b",
              "name": "descripcionEvento",
              "value": "={{ 'Tutor: ' + $json.body.nombreTutor + '. Mascota: ' + $json.body.nombreMascota + '. Tipo de atención: ' + $json.body.tipoAtencion + '. Teléfono: ' + $json.body.telefono + '. Solicitud recibida por VetAtiende AI.' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2448,
        208
      ],
      "id": "b72a73fe-0521-49c7-8a27-824f83218a31",
      "name": "Preparar Datos Agenda"
    }
  ],
  "pinData": {},
  "connections": {
    "Evaluar Disponibilidad Agenda": {
      "main": [
        [
          {
            "node": "Crear Cita en Google Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Horario No Disponible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Cita en Google Calendar": {
      "main": [
        [
          {
            "node": "Respuesta Cita Confirmada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Solicitud Agenda": {
      "main": [
        [
          {
            "node": "Preparar Datos Agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Disponibilidad Agenda": {
      "main": [
        [
          {
            "node": "Evaluar Disponibilidad Agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Cita Confirmada": {
      "main": [
        [
          {
            "node": "Responder Solicitud Agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Horario No Disponible": {
      "main": [
        [
          {
            "node": "Responder Solicitud Agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos Agenda": {
      "main": [
        [
          {
            "node": "Consultar Disponibilidad Agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8b11caa3-a4c4-4e79-ac76-de723c12ba06",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2c1fef6d58bcfef1933030b4f93418db7b06b404227f97cb9b9055195e2c985c"
  },
  "nodeGroups": [],
  "id": "RX9ZvLFO8LFK00QI",
  "tags": [
    {
      "updatedAt": "2026-07-04T20:44:31.425Z",
      "createdAt": "2026-07-04T20:44:31.425Z",
      "id": "6UMZGiYDRokPYFhu",
      "name": "Desarrollo"
    }
  ]
}