n8n/workflows/comercial/lab020_consulta_comercial_basica.json
{
  "name": "LAB-020 - Consulta comercial básica",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vetatiende-comercial-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -416,
        0
      ],
      "id": "c2f2ae39-b30a-402d-81eb-93d0be7cd70e",
      "name": "Recibir consulta Streamlit",
      "webhookId": "dd6b382b-3c34-47bf-bf95-18d5b7f0ebc9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe8c80c7-30bd-446d-94e9-54bbdbd6e149",
              "name": "clinic_id",
              "value": "clinica_piloto_001",
              "type": "string"
            },
            {
              "id": "35a3593a-1618-4b0a-8e3b-60eb06da6ed4",
              "name": "session_id",
              "value": "={{ $json.body.session_id }}",
              "type": "string"
            },
            {
              "id": "0831be56-fe3b-411a-9bc1-a45ba68a56f0",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "690677fc-4475-4891-b22f-f43414e05ec1",
              "name": "channel",
              "value": "streamlit",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        0
      ],
      "id": "753a9397-d1a6-4e00-beea-772ade7303c1",
      "name": "Preparar entrada comercial"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        576,
        0
      ],
      "id": "827ac404-0408-4fc4-b05c-f4ba327a18af",
      "name": "Responder a Streamlit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "messages": {
          "messageValues": [
            {
              "message": "Eres Luna, asistente virtual de la clínica veterinaria ficticia Patitas del Sur.  Responde siempre en español, de forma breve, clara y amable.  En esta validación inicial utilizas solamente datos ficticios.  Si preguntan por el horario de atención, responde que la clínica ficticia atiende de lunes a viernes de 09:00 a 18:00.  No inventes información, no entregues diagnósticos veterinarios y no solicites datos personales reales."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        0,
        0
      ],
      "id": "741bd636-8110-4d29-a8b6-74428deaa5ff",
      "name": "Luna Comercial"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -80,
        208
      ],
      "id": "d87aa190-8fee-4815-83ca-9825c006cce5",
      "name": "Modelo Groq Comercial",
      "credentials": {
        "groqApi": {
          "id": "7Dkwucy8POeb6jKz",
          "name": "Groq Comercial LAB-020"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3dfd1568-94f0-4ec3-9c96-34fd3f25cac7",
              "name": "ok",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "e6360016-95e6-4f2f-8222-a3480648df1d",
              "name": "clinic_id",
              "value": "={{ $('Preparar entrada comercial').item.json.clinic_id }}",
              "type": "string"
            },
            {
              "id": "9c7aa906-abd6-4464-849f-d94510d6df68",
              "name": "session_id",
              "value": "={{ $('Preparar entrada comercial').item.json.session_id }}",
              "type": "string"
            },
            {
              "id": "57990b07-1fa0-4fb3-b90d-1388bb1d81de",
              "name": "reply",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        0
      ],
      "id": "74ff1680-aa80-4b20-b24d-381ba26f8a2a",
      "name": "Preparar respuesta comercial"
    }
  ],
  "pinData": {},
  "connections": {
    "Recibir consulta Streamlit": {
      "main": [
        [
          {
            "node": "Preparar entrada comercial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar entrada comercial": {
      "main": [
        [
          {
            "node": "Luna Comercial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Luna Comercial": {
      "main": [
        [
          {
            "node": "Preparar respuesta comercial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo Groq Comercial": {
      "ai_languageModel": [
        [
          {
            "node": "Luna Comercial",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Preparar respuesta comercial": {
      "main": [
        [
          {
            "node": "Responder a Streamlit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3edebe56-aace-4b29-ae0d-8379e398cec0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ec41ebd4016c7e510e1e6cb72fb340b964191c0d9e6be9e2f7fa1072bd21ff2"
  },
  "nodeGroups": [],
  "id": "chB1iz2FkggEkXyf",
  "tags": [
    {
      "name": "Produccion",
      "id": "rboY33HmOwgzoRtu",
      "updatedAt": "2026-07-23T00:26:52.930Z",
      "createdAt": "2026-07-23T00:26:52.930Z"
    }
  ]
}